<%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>


<h1>Book detail</h1>

<table>
  <tr>
  <td><%= image_tag 'sample-author1.jpg' %></td>
  <td><%= @book.title %></td>
  <td><%= @book.body %></td>
  <td><%= form_with url: edit_book_path(@book), method: :get, local: true do %>
       <%= submit_tag "Edit" %></td>
      <% end %>
  <% if @book.user == current_user %>
  <td><%= form_with url: book_path(@book), method: :delete %>
    <%= submit_tag "Destroy" %></td>
  <% end %>
  </tr>
</table>

<p><%= @book.user.name %></p>



