<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <div>
        <%= flash[:notice] %>
      </div>
      
      <%= render 'list', user: @user %>
    </div>

  <div class='col-md-8 offset-md-1'>
    <h2>Book detail</h2>

  <table class='table table-hover table-inverse'>
    <tr>
      <td><%= link_to user_path(@book.user) do %>
            <%= image_tag @book.user.get_profile_image(80,80) %>
          <% end %>
      </td>
      <td><%= link_to @book.title, book_path(@book) %></td>
      <td><%= @book.body %></td>
      <% if @book.user == current_user %>
      <td><%= link_to 'Edit', edit_book_path(@book), class:"btn btn-outline-secondary" %>
      </td>
      <% end %>
      <% if @book.user == current_user %>
      <td><%= link_to 'Destroy', book_path(@book),  method: :delete, class:"btn btn-outline-secondary" %>
      </td>
      <% end %>
    </tr>
  </table>

<p><%= link_to @book.user.name, user_path(@book.user) %></p>
    </div>
  </div>
</div>



